{:deps {org.clojure/clojure {:mvn/version "1.10.1"}}

 :paths ["src" "resources"]

 :aliases {:ancient   {:main-opts  ["-m" "deps-ancient.deps-ancient"]
                       :extra-deps {deps-ancient {:mvn/version "RELEASE"}}}}}
